extends layout

block content
  h1= title
  p Welcome to #{title}
  button.sidekick.sk-button(onclick='something()') Be Busy
  p
  button.sidekick.sk-button(onclick='toggleImpersonation()', id='btnImpersonate') Impersonate
  p
  button.sidekick.sk-button(onclick='updateGem(1)') Add Gem
  p
  button.sidekick.sk-button(onclick='updateGem(-1)') Sub Gem

  block page-scripts  
    script(src='javascripts/sidekick-client-index.js')

