doctype html
html
  head
    title= title
    link(rel='stylesheet',href='https://sidekick.uitools.frontlineeducation.com/sidekick.css',media='screen',charset='utf-8')    
  body
    block header
    block content
    block footer
    block main-scripts
      script(src='https://sidekick.uitools.frontlineeducation.com/sidekick.js')
      script(src='javascripts/noble.js')
      script(src='javascripts/sidekick-client-setup.js')
    block page-scripts
        