extends layout 

block content 
    h1 Notification
    p Welcome to #{title}

    label Title
    input(type='textbox' id='txt-title') 
    p
    label Content
    input(type='textbox' id='txt-content') 
    p
    button(onclick='addAlert()') Add Notification

block page-scripts
    script(src='javascripts/notification.js')

    